---

interface Props {
    title: string
}

const { title } = Astro.props

---

<div class="card">
    <span class="title">{title}</span>
    <slot />
</div>


<style>
    .card {
        width: 100%;
        padding: 0.6rem;
        margin-top: 1rem;
        font-family: monospace;
        border-radius: 16px;
        border-width: 1px;
        background-color: #fafafa;
        outline: 1px solid #1f1f1f;
        overflow: hidden;

        .title {
            color: #5c5c5c;
        }

    }
</style>